.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

// Common Css
*{
  text-decoration: none;
  box-sizing: border-box;
}

// Body Background
body {
  margin: 0;
  padding: 0;
  background-image: linear-gradient(
    to right top,
    #f9f871,
    #ffe469,
    #ffd166,
    #ffbe66,
    #ffac69,
    #ff9d6d,
    #ff8f73,
    #ff827b,
    #fc7486,
    #f46993,
    #e861a2,
    #d65db1
  );
  height: 100vh;
}